* {
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

.main {
    width: 70%;
    margin: 0 auto;
    flex: 1 0 auto;
    min-height: 500px;
}

.header, .footer {
    flex: 0 0 auto;
}

header {
    display: inline-block;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    background: linear-gradient(to right, #828282, #e5e5e5);
    height: 70px;

}

.rubrik {

    margin-bottom: 30px;
    margin-left: calc(50% - 110px);
    display: inline;
}

.navbar a {
    margin: 0px 0px 5px 12px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

a::before , a::after {
    color: #000;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

