.container-column {
    display: flex;
    flex-direction: column;
    float: left;
}

.flex {
    display: flex;
    justify-content: center;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px;
}

.container-float {
    display: inline-block;
    width: 100%;
}

.left {
    float:left;
}

.flash-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    border: 3px solid #000;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 25px;
    min-width: 150px;
    height: 50px;
    margin: 15px;
}

.flash-message h2 {
    padding: 0;
    margin: 0;
}

.center {
   justify-content: center;
   align-items: center;
}

.center-margin {
    margin: 10px auto;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    margin: 10px;
    border-radius: 25px;
}

.l1 {
    background: linear-gradient(to right, #e5e5e5, #aaaaaa);

    border: 3px solid rgb(158, 158, 158);
}

.l2 {
    background-color: #ffffff;
    border: 4px solid rgb(0, 0, 0);
}

.l3 {
    background: linear-gradient(to right, #f9ff45, #f23cff);
    border: 4px solid rgb(0, 0, 0);
}

.width-100 {
    width: 100%;
}

.text-area {
    max-width: 100%;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    color: #000;
    word-break: break-all;
    overflow-wrap: break-word; 
    white-space: normal; 
    padding: 3px;
    border: 3px solid #000;
}

.qr-img {
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}

.a-button {
    display: inline-block; 
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.b-button {
    display: inline-block; 
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}


.label-container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    min-width: 90%;
    justify-content: center;
}


.small-size {
    width: 250px;
}

.view-label {
    min-width: 80%;
}

.container-view-label {
    display: flex;
    justify-content: center;
}

.small-qr-img {
    width: 400px;
}

.container-center {
    display: flex;
    flex-direction: column;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    min-width: 90%;
    justify-content: center;
}

.img-container img {
    max-width: 300px;
    max-height: 500px;
    
}

.action-container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    float: left;
    min-width: 1085px;
}

.action-container a ::before, ::after{
    margin-left: 15px;
    color: #000;
}

.container-row-2 {
    display: flex;
    flex-direction: row;
    float: left;
    padding: 4px;
}

.container-row-2 i {
    margin-left: 10px;
}
