<%- include("./../partials/header.ejs") %>


<main class="main">
    <h2>Home</h2>
    <img class="small-qr-img center-margin" src="/images/gg.jpg" alt="ggggg">
</main>

<%- include("./../partials/footer.ejs") %>