<%- include("./../partials/header.ejs") %>


<main class="main ">
    <h1 class="center-margin">Press the desired design</h1>
<div class="container-row width-100 center">
    <a class="a-button" href="/design-label?label=1">
        <div class="label l1"> 
            <div class="container-row">
                <i class="fa-2x fa-solid fa-wine-glass-empty"></i>
                <i class="fa-2x fa-solid fa-weight-hanging"></i>
                <i class="fa-2x fa-solid fa-triangle-exclamation"></i>
            </div>
            <img class="qr-img" src="/images/qr2.png" alt="qr">
        </div> 
    </a>

    <a class="a-button" href="/design-label?label=2">
        <div class="label l2">
            <div class="container-row">
                <i class="fa-2x fa-solid fa-wine-glass-empty"></i>
                <i class="fa-2x fa-solid fa-weight-hanging"></i>
                <i class="fa-2x fa-solid fa-triangle-exclamation"></i>
            </div>
            <img class="qr-img" src="/images/qr2.png" alt="qr">
        </div> 
    </a>
    
    <a class="a-button" href="/design-label?label=3">
        <div class="label l3">
            <div class="container-row">
                <i class="fa-2x fa-solid fa-wine-glass-empty"></i>
                <i class="fa-2x fa-solid fa-weight-hanging"></i>
                <i class="fa-2x fa-solid fa-triangle-exclamation"></i>
            </div>
            <img class="qr-img" src="/images/qr2.png" alt="qr">
        </div> 
    </a>
</div>

</main>

<%- include("./../partials/footer.ejs") %>